.textArea {
  padding: 7px 15px;
  color: var(--black);
  width: 100%;
  border: none;
  outline-color: var(--primary);
  background: var(--white);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.05);
  border-radius: 5px;
  font-size: 16px;
  line-height: 22px;
  font-family: var(--font-family);
}

.textArea ::placeholder {
  color: var(--grey);
}

.error {
  border: 1px solid var(--red);
}
.errorMessage {
  position: absolute;
  bottom: -15px;
  left: 0;
  color: var(--red);
}
.textAreaWrapper {
  position: relative;
}
