.sortIcon {
  display: none;
}
.active .sortIcon {
  display: block;
  margin-right: 8px;
}

.active {
  font-weight: bold;
  color: var(--primary);
}
.sort {
  display: inline-block;
  display: grid;
  grid-template-columns: auto auto;
  gap: 40px;
}
.sort span {
  display: grid;
  grid-template-columns: 20px 1fr;
  align-items: center;
  gap: 8px;
  cursor: pointer;
}

.sort span:not(.active) {
  grid-template-columns: 1fr;
}
